<div class="col-sm-6 info-box">
  <san-field-group>
    <san-field label="Publisher Name" model="newPublisher.name" type="text" edit-var="'true'" required="true"></san-field>
    <san-field label="Our URL" model="newPublisher.ourUrl" type="text" edit-var="'true'" required="true"></san-field>
    <san-field label="Publisher URL" model="newPublisher.publisherUrl" type="text" edit-var="'true'" required="true"></san-field>
    <san-field label="Enabled" model="newPublisher.enabled" type="checkbox" edit-var="'true'"></san-field>
    <san-field label="Is Network?" model="newPublisher.isNetwork" type="checkbox" edit-var="'true'"></san-field>
  </san-field-group> 
  <button class="btn btn-primary btn-xs" ng-click="save(newPublisher)">Save</button>
  <button class="btn btn-default btn-xs" ng-click="clear()">Clear</button>
</div>