<san-sidebar class="col-sm-3" data="RuleSet.rulesets" ng-click="gotoSidebar()" desturl="$state.href('RuleSetUIRoot.single.info',{id:item.id})" id="topInfo"></san-sidebar>
<div class="col-sm-9 noPadding">
	<!-- Breadcrumbs and common navigation element -->
    <san-breadcrumbs>
        <li class="noncrumb pull-right"><a class="btn btn-xs btn-primary" ui-sref="RuleSetUIRoot.create">New Ruleset</a></li>
    </san-breadcrumbs>
    <alert ng-repeat="alert in Notification.messages" type="{{alert.type}}" close="Notification.closeAlert($index)">{{alert.msg}}</alert>
    <!-- Child views -->
    <div ui-view="content"></div>
</div>