<san-confirm
  active="deleteAlert"
  confirm="templateVariable.enabled=false; deleteTemplateVariable(templateVariable.id)"
  confirm-text="Delete TemplateVariable {{templateVariable.id}}">
  <p>Are you sure you wish to delete &quot;<strong>{{templateVariable.name}}</strong>&quot; TemplateVariable?</p>
</san-confirm>
<san-crud-buttons
  class="pull-right"
  edit="templateVariableEditSwitch()"
  delete="deleteAlert=true"
  save="save(templateVariable)"
  cancel="templateVariableEditSwitch()">
</san-crud-buttons>
<div class="col-md-6">
    <san-field-group>
        <san-field ng-if="!templateVariableEdit" model="templateVariable.typeId" type="text" label="Type"></san-field>
        <san-field ng-if="templateVariableEdit" model="templateVariable.typeId" label="Type" edit-var="'true'">
            <select class="form-control"  ng-model="templateVariable.typeId" name="type" ng-options="templateType.id as templateType.name for templateType in TemplateVariable.templateTypes" required>
                <option value="{{templateVariable.id}}">{{templateVariable.name}}</option>
            </select>
        </san-field>
        <san-field ng-if="!templateVariableEdit" model="templateVariable.value" type="text" placeholder="{{templateVariable.value}}" label="Value"></san-field>
        <san-field ng-if="templateVariableEdit" model="templateVariable.value" type="text" placeholder="{{templateVariable.value}}" edit-var="'true'" label="Value" ></san-field>
        <san-field ng-if="!templateVariableEdit" model="templateVariable.creativeZonesList" type="text" placeholder="{{templateVariable.creativeZonesList}}" label="Creative Zone(s)"></san-field>
        <san-field ng-if="templateVariableEdit" model="templateVariable.creativeZonesList" edit-var="'true'" label="Creative Zone(s)">
            <select style="width:100%" ui-select2 multiple
                    name="creativezones"
                    ng-model="templateVariable.creativeZoneId"
                    data-placeholder="Choose Creative Zone(s)">
                <option ng-repeat="creativezone in CreativeZone.creativeZones"
                        value="{{creativezone.id}}">
                    {{creativezone.name}}
                </option>
            </select>
        </san-field>
        <san-field ng-if="!templateVariableEdit" model="templateVariable.publishersList" type="text" placeholder="templateVariable.publisherId" label="Publisher(s)"></san-field>
        <san-field ng-if="templateVariableEdit" model="templateVariable.publishersList" edit-var="'true'" label="Publisher(s)">
            <select style="width:100%" ui-select2 multiple
                    name="publisher"
                    ng-model="templateVariable.publisherId"
                    data-placeholder="Choose Publisher(s)">
                <option ng-repeat="publisher in Publisher.publishers"
                        value="{{publisher.id}}">
                    {{publisher.name}}
                </option>
            </select>
        </san-field>
    </san-field-group>
</div>
