<div class="col-md-6">
    <san-field-group>
        <san-field model="templateVariable.typeId" label="Type" edit-var="'true'">
            <select class="form-control"  ng-model="templateVariable.typeId" name="type" ng-options="templateType.id as templateType.name for templateType in TemplateVariable.templateTypes" required>
                <option value="{{templateVariable.id}}">{{templateVariable.name}}</option>
            </select>
        </san-field>
        <san-field model="templateVariable.value" type="text" placeholder="{{templateVariable.value}}" edit-var="'true'" label="Value" ></san-field>
        <san-field model="templateVariable.creativeZonesList" edit-var="'true'" label="Creative Zone(s)">
            <select style="width:100%" ui-select2 multiple
                    name="creativezones"
                    ng-model="templateVariable.creativeZoneId"
                    data-placeholder="Choose Creative Zone(s)">
                <option ng-repeat="creativezone in CreativeZone.creativeZones"
                        value="{{creativezone.id}}">
                    {{creativezone.name}}
                </option>
            </select>
            </select>
        </san-field>
        <san-field model="templateVariable.publishersList" edit-var="'true'" label="Publisher(s)">
            <select style="width:100%" ui-select2 multiple
                    name="publisher"
                    ng-model="templateVariable.publisherId"
                    data-placeholder="Choose Publisher(s)">
                <option ng-repeat="publisher in Publisher.publishers"
                        value="{{publisher.id}}">
                    {{publisher.name}}
                </option>
            </select>
        </san-field>
    </san-field-group>
    <button class="btn btn-primary btn-xs" ng-click="saveNewTemplateVariable(templateVariable)">Save</button>
    <button class="btn btn-default btn-xs" ng-click="clear()">Clear</button>
</div>