<div ng-class="isNested()? 'inventory-list-pannel' : 'container'">
  <div class="row" ng-init="init(Inventory.CREATIVE_ZONE)">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div ng-class="showSearch()? 'col-sm-7 col-md-7': 'col-sm-6 col-md-6'">
            <h4>Creative Zones</h4>
          </div>
          <div class="col-sm-3 col-md-3">
            <div ng-show="showSearch()" class="input-group">
              <input type="text" class="form-control" ng-model="search_filter.term" ng-change="refresh()" placeholder="Search..."/>
              <span class="input-group-btn">
                  <button ng-click="search_filter.term='';refresh()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
              </span>
            </div>
          </div>
          <div class="col-sm-2 col-md-2" style="text-align: right;">
            <button ng-click="createNewCZ=true" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Creative Zone</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <!--New Entity -->
        <div ng-if="createNewCZ">
          <div class="col-sm-12 col-md-12"
               ng-controller="EditInventoryCtrl"
               ng-init="init(
                          Inventory.CREATIVE_ZONE, null, parentEntityName, parentEntityData,
                          $parent.getOnSaved($parent.$parent, 'createNewCZ'),
                          $parent.getOnCanceled($parent.$parent, 'createNewCZ'))">
            <!-- Error Handling -->
            <div ng-if="alerts.length >= 1" ng-show="alerts.show" ng-include src="'/ui/src/app/inventory/templates/alert.tpl.html'"></div>
            <!-- New Entry -->
            <div ng-show="open()" ng-include src="'/ui/src/app/inventory/templates/edit_creativezone.tpl.html'"></div>
          </div>
        </div>
        <!-- Error Handling -->
        <div ng-if="alerts.length >= 1" ng-show="alerts.show" ng-include src="'/ui/src/app/inventory/templates/alert.tpl.html'"></div>

        <!-- Main Table -->
        <table class="ng-table table table-hover">
          <thead>
          <tr>
            <th ng-click="sort('id', $event)" class="default-cell" ng-class="getHeaderCssClass('id')" style="text-align: left"><div>Id</div></th>
            <th ng-click="sort('name', $event)" class="default-cell" ng-class="getHeaderCssClass('name')" style="text-align: left"><div>Name</div></th>
            <th ng-click="sort('typeName', $event)" class="default-cell" ng-class="getHeaderCssClass('typeName')" style="text-align: left"><div>Type</div></th>
            <th ng-click="sort('location', $event)" class="default-cell" ng-class="getHeaderCssClass('location')" style="text-align: left"><div>Location</div></th>
            <th ng-click="sort('publisherName', $event)" class="default-cell" ng-class="getHeaderCssClass('publisherName')" style="text-align: left"><div>Publisher</div></th>
            <th ng-click="sort('defaultRotationId', $event)" class="default-cell" ng-class="getHeaderCssClass('defaultRotationId')" style="text-align: left"><div>Default Rotation</div></th>
            <th ng-click="sort('width', $event)" class="default-cell" ng-class="getHeaderCssClass('width')" style="text-align: right"><div>Width</div></th>
            <th ng-click="sort('height', $event)" class="default-cell" ng-class="getHeaderCssClass('height')" style="text-align: right"><div>Height</div></th>
            <th ng-click="sort('ownerId', $event)" class="default-cell" ng-class="getHeaderCssClass('ownerId')" style="text-align: right"><div>Owner ID</div></th>
            <th ng-click="sort('sfw', $event)" class="default-cell" ng-class="getHeaderCssClass('sfw')" style="text-align: right"><div>SFW</div></th>
            <th ng-if="disabled==false" ng-click="sort('enabled', $event)" class="default-cell" ng-class="getHeaderCssClass('enabled')"style="text-align: right"><div>Enabled</div></th>
            <th class="col-md-1">
                <input type="checkbox" ng-model="disabled" ng-change="refresh()" class="col-md-1" style="margin:0;"/>
                <h6 class="col-md-7" style="margin:0;">
                    <a ng-click="disabled=!disabled;refresh()">Hide Disabled</a>
                </h6>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat-start="row in tableData">
            <td ng-class="getRowCss(row)" class="text-left">{{row.id==null?"Not Yet Saved":row.id}}</td>
            <td ng-class="getRowCss(row)" class="text-left">{{row.name}}</td>
            <td ng-class="getRowCss(row)" class="text-left">{{row.typeName}}</td>
            <td ng-class="getRowCss(row)" class="text-left">{{row.location}}</td>
            <td ng-class="getRowCss(row)" class="text-left"><A ng-href="/ui/#/inventory/publishers/{{row.publisherId}}" target="_blank">{{row.publisherName}}</A></td>
            <td ng-class="getRowCss(row)" class="text-left"><A ng-href="/ui/#/inventory/rotations/{{row.defaultRotationId}}" target="_blank">{{row.defaultRotationId}}</A></td>
            <td ng-class="getRowCss(row)" class="text-right">{{row.width}}</td>
            <td ng-class="getRowCss(row)" class="text-right">{{row.height}}</td>
            <td ng-class="getRowCss(row)" class="text-right">{{row.ownerId}}</td>
            <td ng-class="getRowCss(row)" class="text-right">{{row.sfw=="1"?"Yes":"No"}}</td>
            <td ng-if="disabled==false" ng-class="getRowCss(row)" class="text-right">{{row.enabled=="0"?"No":"Yes"}}</td>
            <!-- Buttons -->
            <td class="col-md-2">
              <div class="col-sm-12 col-md-12" ng-click="row.confirmDelete=!row.confirmDelete">
                <button class="remove btn btn-xs btn-default col-sm-2 col-md-2" tooltip-placement="right" tooltip="{{isNested()? 'Unlink':'Remove'}}" style="vertical-align: top;">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
              <div class="col-sm-12 col-md-12">
                <button ng-click="row.editRow=true" class="edit btn btn-xs btn-default col-sm-2 col-md-2" tooltip-placement="right" tooltip="Edit">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
              </div>
              <div class="col-sm-12 col-md-12">
                <button ng-click="row.showEmailCode=!row.showEmailCode" class="edit btn btn-xs btn-default col-sm-2 col-md-2" tooltip-placement="right" tooltip="Email Code">
                  <span class="glyphicon glyphicon-envelope"></span>
                </button>
              </div>
            </td>
          </tr>
          <!--Remove Creative Zone Alert as stand alone page-->
          <tr ng-if="!isNested()" class="danger" ng-show="row.confirmDelete">
            <td class="alert" colspan="12">
              <p class="col-md-3">Are you sure you would like to delete this item?</p>
              <button ng-click="delete(row.id);row.confirmDelete=!row.confirmDelete" class="btn btn-default">Yes</button>
              <button ng-click="row.confirmDelete=!row.confirmDelete" class="btn btn-default">No</button>
            </td>
          </tr>
          <!--Remove Alert nested (in the context of buy campaign) -->
          <tr ng-if="isNested()" class="danger" ng-show="row.confirmDelete">
            <td class="alert" colspan="12">
              <p class="col-md-3">Are you sure you wish to unlink this creative zone?</p>
              <!--
                when the parent entity is submitted to the server, any creative zone which is currently associated with
                it and is not on the submitted creative zones list will be unlinked.
                Passing null as entity id to delete causes it to simply remove the item from the table in
                memory without sending any request to the server (since the entity id is unknown).
                We use this functionality of the delete method to unlink creative zones from the parent.
              -->
              <button ng-click="delete(null, false, $index);row.confirmDelete=!row.confirmDelete;reload()" class="btn btn-default">Yes</button>
              <button ng-click="row.confirmDelete=!row.confirmDelete" class="btn btn-default">No</button>
            </td>
          </tr>
          <!-- Edit Creative Zone -->
          <tr class="well">
            <td ng-if="row.editRow" colspan="12">
              <div class="col-sm-12 col-md-12"
                   ng-controller="EditInventoryCtrl"
                   ng-init="init(
                               Inventory.CREATIVE_ZONE, row, parentEntityName, parentEntityData,
                               $parent.getOnSaved(row, 'editRow'),
                               $parent.getOnCanceled(row, 'editRow'))">
                <!-- Error Handling -->
                <div ng-if="alerts.length >= 1" ng-show="alerts.show" ng-include src="'/ui/src/app/inventory/templates/alert.tpl.html'"></div>
                <div ng-show="open()" ng-include src="'/ui/src/app/inventory/templates/edit_creativezone.tpl.html'"></div>
              </div>
            </td>
          </tr>
          <!-- Email Code -->
          <tr ng-repeat-end>
            <td ng-show="row.showEmailCode" colspan="12" ng-init="Inventory.compileCZEmailTempalte(row)">
              <!--
                Inventory.compileCZEmailTempalte gets the emailCodeTemplate from the row, replaces all
                dynamic variables e.g. {{ publisher }} with values from the CZ and then sets the compiled
                string in resolvedEmailCodeTemplate. The reason it cannot return the string directly
                is because for some template we need to fetch template variables from the sever i.e.
                the process is done a-synthetically
              -->
              <pre>{{row.resolvedEmailCodeTemplate}}</pre>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr ng-if="showPageCount()">
            <td colspan="9" style="border-left-style: none;border-right-style: none;border-bottom-style: none">
              <div class="btn-group pull-right">
                <button type="button" ng-click="setPageCount(10)" class="btn btn-default btn-xs" ng-class="{active: count == 10}"> 10 </button>
                <button type="button" ng-click="setPageCount(25)" class="btn btn-default btn-xs" ng-class="{active: count == 25}"> 25 </button>
                <button type="button" ng-click="setPageCount(50)" class="btn btn-default btn-xs" ng-class="{active: count == 50}"> 50 </button>
                <button type="button" ng-click="setPageCount(100)" class="btn btn-default btn-xs" ng-class="{active: count == 100}"> 100 </button>
              </div>
              <ul class="pagination btn-group pull-left">
                <li ng-repeat="page in pages" ng-class="{'disabled': !page.active}">
                  <a ng-click="setPage(page.number)">{{page.label}}</a>
                </li>
              </ul>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
