<div class="inventory-list-pannel">
  <div class="row" ng-init="init(Inventory.CREATIVE)">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div ng-class="showSearch()? 'col-sm-7 col-md-7': 'col-sm-6 col-md-6'">
            <h4>Creatives</h4>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3">
            <div ng-show="showSearch()" class="input-group">
              <input type="text" class="form-control" ng-model="search_filter.term" ng-change="refresh()" placeholder="Search..."/>
              <span class="input-group-btn">
                  <button ng-click="search_filter.term='';refresh()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
              </span>
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2" style="text-align: right;">
            <button ng-click="createNewCreative=true" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Creative</button>
          </div>
        </div>
      </div>
      <div class="panel-body" style="overflow:auto;">
        <!--New Entity -->
        <div ng-if="createNewCreative">
          <div
               ng-controller="EditInventoryCtrl"
               ng-init="init(Inventory.CREATIVE, null, parentEntityName, parentEntityData, $parent.getOnSaved($parent.$parent, 'createNewCreative'), $parent.getOnCanceled($parent.$parent, 'createNewCreative'))">
            <!-- Error Handling -->
            <div ng-if="alerts.length >= 1" ng-show="alerts.show" ng-include src="'/ui/src/app/inventory/templates/alert.tpl.html'"></div>
            <!-- New Entry -->
            <div ng-show="open()" ng-include src="'/ui/src/app/inventory/templates/edit_creative.tpl.html'"></div>
          </div>
        </div>
        <!-- Error Handling -->
        <div ng-if="alerts.length >= 1" ng-show="alerts.show" ng-include src="'/ui/src/app/inventory/templates/alert.tpl.html'"></div>

        <!-- Main Table -->
        <table class="ng-table table">
          <thead>
          <tr>
            <th ng-click="sort('id', $event)" class="default-cell" ng-class="getHeaderCssClass('id')" style="text-align: left;"><div>Id</div></th>
            <th ng-click="sort('subGroupId', $event)" class="default-cell" ng-class="getHeaderCssClass('subGroupId')" style="text-align: left;"><div>Sub Group Id</div></th>
            <th ng-click="sort('location', $event)" class="default-cell" ng-class="getHeaderCssClass('location')" style="text-align: left"><div>Location</div></th>
            <th ng-click="sort('width', $event)" class="default-cell" ng-class="getHeaderCssClass('width')" style="text-align: right"><div>Width</div></th>
            <th ng-click="sort('height', $event)" class="default-cell" ng-class="getHeaderCssClass('height')" style="text-align: right"><div>Height</div></th>
            <th ng-click="sort('name', $event)" class="default-cell" ng-class="getHeaderCssClass('name')" style="text-align: left;"><div>Name</div></th>
            <th ng-click="sort('typeName', $event)" class="default-cell" ng-class="getHeaderCssClass('typeName')" style="text-align: left;"><div>Type</div></th>
            <th ng-click="sort('contentPath', $event)" class="default-cell" ng-class="getHeaderCssClass('contentPath')" style="text-align: left;"><div>Content Path</div></th>
            <th ng-if="isNested()" ng-click="sort('weight', $event)" class="default-cell" ng-class="getHeaderCssClass('weight')" style="text-align: left;"><div>Weight</div></th>
            <th ng-if="disabled==false" ng-click="sort('enabled', $event)" class="default-cell" ng-class="getHeaderCssClass('enabled')" style="text-align: right;"><div>Enabled</div></th>
            <th class="col-md-1">
                <input type="checkbox" ng-model="disabled" ng-change="refresh()" class="col-md-1" style="margin:0;"/>
                <h6 class="col-md-7" style="margin:0;">
                    <a ng-click="disabled=!disabled;refresh()">Hide Disabled</a>
                </h6>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat-start="row in tableData">
            <td ng-class="getRowCss(row)" style="text-align: left;">{{row.id==null?"Not Yet Saved":row.id}}</td>
            <td ng-class="getRowCss(row)" style="text-align: left;">{{row.subGroupId}}</td>
            <td ng-class="getRowCss(row)" class="text-left">{{row.location}}</td>
            <td ng-class="getRowCss(row)" class="text-right">{{row.width}}</td>
            <td ng-class="getRowCss(row)" class="text-right">{{row.height}}</td>
            <td ng-class="getRowCss(row)" style="text-align: left;">{{row.name}}</td>
            <td ng-class="getRowCss(row)" style="text-align: left;">{{row.typeName}}</td>
            <td ng-class="getRowCss(row)" style="text-align: left;"><a ng-click="Inventory.openCreative(row)">{{row.contentPath}}</a></td>
            <td ng-if="isNested()" ng-class="getRowCss(row)">{{row.weight}}</td>
            <td ng-if="disabled==false" ng-class="getRowCss(row)" style="text-align: left;">{{(row.enabled == 0? "No":"Yes")}}</td>
            <!-- Buttons -->
            <td style="width:10px">
              <div ng-click="row.confirmDelete=!row.confirmDelete">
                <button class="remove btn btn-xs btn-default" tooltip-placement="right" tooltip="{{isNested()? 'Unlink':'Remove'}}" style="vertical-align: top;">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>

              <div>
                <button ng-click="row.editRow=true" class="edit btn btn-xs btn-default" tooltip-placement="right" tooltip="Edit">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
              </div>
            </td>
          </tr>
          <!--Remove Alert stand alone (not in the context of rotation) -->
          <tr ng-if="!isNested()" class="danger" ng-show="row.confirmDelete">
            <td class="alert" colspan="{{isNested()? 12:11}}">Are you sure you would like to delete this item
              <button ng-click="delete(row.id);row.confirmDelete=!row.confirmDelete" class="btn btn-default">Yes</button>
              <button ng-click="row.confirmDelete=!row.confirmDelete" class="btn btn-default">No</button>
            </td>
          </tr>
          <!--Remove Alert nested (in the context of rotation) -->
          <tr ng-if="isNested()" class="danger" ng-show="row.confirmDelete">
            <td class="alert" colspan="{{isNested()? 12:11}}">Are you sure you would like to unlink this creative
              <!--
                when the parent entity is submitted to the server, any creative which is currently associated with
                it and is not on the submitted creatives list will be unlinked.
                Passing null as entity id to delete causes it to simply remove the item from the table in
                memory without sending any request to the server (since the entity id is unknown).
                We use this functionality of the delete method to unlink creatives from the parent.
              -->
              <button ng-click="delete(null, false, $index);row.confirmDelete=!row.confirmDelete;reload()" class="btn btn-default">Yes</button>
              <button ng-click="row.confirmDelete=!row.confirmDelete" class="btn btn-default">No</button>
            </td>
          </tr>
          <!-- Edit Creative section -->
          <tr ng-repeat-end class="well">
            <td ng-if="row.editRow" colspan="{{isNested()? 12:11}}">
              <div
                   ng-controller="EditInventoryCtrl"
                   ng-init="init(Inventory.CREATIVE, row, parentEntityName, parentEntityData,
                                 $parent.getOnSaved(row, 'editRow'),
                                 $parent.getOnCanceled(row, 'editRow'))">
                <!-- Error Handling -->
                <div ng-if="alerts.length >= 1" ng-show="alerts.show" ng-include src="'/ui/src/app/inventory/templates/alert.tpl.html'"></div>
                <div ng-show="open()" ng-include src="'/ui/src/app/inventory/templates/edit_creative.tpl.html'"></div>
              </div>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr ng-if="showPageCount()">
            <td colspan="{{isNested()? 12:11}}" style="border-left-style: none;border-right-style: none;border-bottom-style: none">
              <div class="btn-group pull-right">
                <button type="button" ng-click="setPageCount(10)" class="btn btn-default btn-xs" ng-class="{active: count == 10}"> 10 </button>
                <button type="button" ng-click="setPageCount(25)" class="btn btn-default btn-xs" ng-class="{active: count == 25}"> 25 </button>
                <button type="button" ng-click="setPageCount(50)" class="btn btn-default btn-xs" ng-class="{active: count == 50}"> 50 </button>
                <button type="button" ng-click="setPageCount(100)" class="btn btn-default btn-xs" ng-class="{active: count == 100}"> 100 </button>
              </div>
              <ul class="pagination btn-group pull-left">
                <li ng-repeat="page in pages" ng-class="{'disabled': !page.active}">
                  <a ng-click="setPage(page.number)">{{page.label}}</a>
                </li>
              </ul>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>