<!--
  THE TOP LEVEL DIV FOR CUSTOM REPORT IS ASSOCIATED WITH attributeReader
  DIRECTIVE. THIS DIRECTIVE BINDS THIS DIV WITH CustomReportCtrl
-->
<div attribute-reader class="customreport">
    <div ng-class="{row:!isNested}" ng-repeat="child in reportJSON.children">
        <div ng-class="{'col-md-offset-1':!isNested, 'col-sm-10':!isNested, 'col-md-10':!isNested}" ng-if="child.template" id="{{ child.id }}"
             ng-include="'src/app/inventory/descriptors/' + child.template">
        </div>
    </div>
</div>