<div class="col-md-4">
    <fieldset>
        <legend ng-if="entityEditableData.id == null" style="background-color: #D9EDF7;">New Publisher {{entityEditableData.name}}</legend>
        <legend ng-if="entityEditableData.id != null" style="background-color: #D9EDF7;">Edit Publisher {{entityEditableData.name}}</legend>
        <form name="form" novalidate>
          <div class="form-group" ng-class="{ 'has-error' : form.publisherName.$invalid && !form.publisherName.$pristine }">
            <label>Publisher Name</label>
            <input ng-model="entityEditableData.name" class="form-control" type="text" name="publisherName" placeholder="{{entityEditableData.name}}" required />
            <span ng-if="form.publisherName.$invalid && !form.publisherName.$pristine" style="color: #a94442;">Publisher name is required</span>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : form.ourUrl.$invalid && !form.ourUrl.$pristine }">
            <label>Our URL</label>
            <input ng-model="entityEditableData.ourUrl" class="form-control" type="url" name="ourUrl" placeholder="{{entityEditableData.ourUrl}}" required />
            <span ng-if="form.ourUrl.$invalid && !form.ourUrl.$pristine" style="color: #a94442;">Our URL is required</span>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : form.publisherUrl.$invalid && !form.publisherUrl.$pristine }">
            <label>Publisher URL</label>
            <input ng-model="entityEditableData.publisherUrl" class="form-control" type="url" name="publisherUrl" placeholder="{{entityEditableData.publisherUrl}}" required />
            <span ng-if="form.publisherUrl.$invalid && !form.publisherUrl.$pristine" style="color: #a94442;">Publisher URL is required</span>
          </div>
          <div class="form-group">
            <label>Enabled</label>
            <input ng-model="entityEditableData.enabled" type="checkbox" placeholder="{{entityEditableData.enabled}}" />
          </div>
          <div class="form-group">
            <label>Is Network</label>
            <input ng-model="entityEditableData.isNetwork" type="checkbox" placeholder="{{entityEditableData.isNetwork}}" />
          </div>
          <button ng-click="save()" class="btn btn-primary" ng-disabled="disableSubmit() || form.$invalid">Save</button>
          <button ng-click="cancel()" class="btn btn-default" ng-disabled="disableSubmit()">Cancel</button>
        </form>
    </fieldset>
</div>
<div class="col-md-8">
    <div ng-if="entityEditableData.variables.length >= 0" ng-controller="ListInventoryCtrl"
         ng-init="init(Inventory.TEMPLATE_VARIABLE, entityEditableData.variables, Inventory.PUBLISHER, entityEditableData);
                $parent.entityEditableData.tempData.reloadCreativesList=reload">
        <div ng-include src="'/ui/src/app/inventory/templates/templatevariables.tpl.html'"></div>
    </div>
</div>