<div class="col-md-4">
    <fieldset>
        <legend ng-if="entityEditableData.id == null" style="background-color: #D9EDF7;">New Creative {{entityEditableData.name}}</legend>
        <legend ng-if="entityEditableData.id != null" style="background-color: #D9EDF7;">Edit Creative {{entityEditableData.name}}</legend>
        <form name="form" novalidate>
          <div class="form-group" ng-class="{ 'has-error' : form.creativeName.$invalid && !form.creativeName.$pristine }">
            <label>Creative Name</label>
            <input ng-model="entityEditableData.name" class="form-control" type="text" name="creativeName" placeholder="{{entityEditableData.name}}" required/>
            <span ng-if="form.creativeName.$invalid && !form.creativeName.$pristine" class="invalid">Creative name is required</span>
          </div>
          <div class="form-group">
              <label class="label-control">Type</label>
              <ui-select ng-model="entityEditableData.typeId" theme="bootstrap" name="type" reset-search-input="false">
                  <ui-select-match placeholder="Type">{{$select.selected.typeName}}</ui-select-match>
                  <ui-select-choices repeat="type.typeId as type in entityEditableData.options.typeId | filter: $select.search">
                      <div ng-bind-html="type.typeName | highlight: $select.search"></div>
                  </ui-select-choices>
              </ui-select>
          </div>
          <div class="form-group">
            <label>Sub Group Id</label>
            <input ng-model="entityEditableData.subGroupId" class="form-control" type="text" placeholder="{{entityEditableData.subGroupId}}" />
          </div>
          <div>
            <label class="label-control">Dimensions</label>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="entityEditableData.width" placeholder="width"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="entityEditableData.height" placeholder="height"/>
            </div>
          </div>
          <div>
            <label class="label-control">Location</label>
            <div class="form-group">
              <select class="form-control" ng-model="entityEditableData.creativeZoneLocation_code"
                      ng-options="location.creativeZoneLocation_code as location.location for location in entityEditableData.options.creativeZoneLocation_code"></select>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : form.contentPath.$invalid && !form.contentPath.$pristine }">
            <label>Content Path (max length 255)</label>
            <input ng-model="entityEditableData.contentPath" class="form-control" type="text" maxlength="255" name="contentPath" placeholder="{{entityEditableData.contentPath}}" required />
            <span ng-if="form.contentPath.$invalid && !form.contentPath.$pristine" class="invalid">Content Path is required</span>
          </div>
          <div class="form-group">
            <label>Enabled</label>
            <input ng-model="entityEditableData.enabled" type="checkbox" placeholder="{{entityEditableData.enabled}}" />
          </div>
          <div ng-if="isNested()" class="form-group">
            <label>Weight</label>
            <input ng-model="entityEditableData.weight" class="form-control" type="number" placeholder="{{entityEditableData.weight}}" />
          </div>
          <!--
            when the form is opened in the context of sell campaign | rotation upon
            save we don't send the data directly to the database, instead we only
            update the memory record. Therefore we have to update the typeName to make
            sure it displays correctly in the creatives list table
          -->
        </form>
    </fieldset>
    <button ng-click="
            entityEditableData.location=Inventory.getOptionByProperty(entityEditableData.options.creativeZoneLocation_code, 'creativeZoneLocation_code', entityEditableData.creativeZoneLocation_code).location;
            entityEditableData.typeName=Inventory.getOptionByProperty(entityEditableData.options.typeId, 'typeId', entityEditableData.typeId).typeName;
            save()" class="btn btn-primary" ng-disabled="disableSubmit() || form.$invalid">Save</button>
    <button ng-click="cancel()" class="btn btn-default" ng-disabled="disableSubmit()">Cancel</button>
</div>