<div class="col-md-4">
    <fieldset>
        <legend ng-if="entityEditableData.id == null" style="background-color: #D9EDF7;">New Buy Campaign</legend>
        <legend ng-if="entityEditableData.id != null" style="background-color: #D9EDF7;">Edit Buy Campaign {{entityEditableData.name}}</legend>
        <form name="form">
          <div class="form-group" ng-class="{ 'has-error' : form.buyCampaignName.$invalid && !form.buyCampaignName.$pristine }">
            <label>Buy Campaign Name</label>
            <input ng-model="entityEditableData.name" class="form-control" type="text" name="buyCampaignName" placeholder="{{entityEditableData.name}}" required/>
            <span ng-if="form.buyCampaignName.$invalid && !form.buyCampaignName.$pristine" class="invalid">Buy Campaign Name is required</span>
          </div>
          <div class="form-group">
            <label>Enabled</label>
            <input ng-model="entityEditableData.enabled" type="checkbox" placeholder="{{entityEditableData.enabled}}">
            </input>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : form.startDate.$invalid && form.startDate.$pristine }">
            <label class="label-control">Start Date</label>
            <quick-datepicker id="start_date" name="startDate" ng-model="entityEditableData.startDate"
                              time-format="H:mm" required=true placeholder='mm/dd/yyyy'>
            </quick-datepicker>
            <span ng-class="{ invalid : form.startDate.$invalid, valid : form.startDate.$valid }" style="display: block;">Start Date is required</span>
          </div>
          <div class="form-group">
            <label class="label-control">End Date</label>
            <quick-datepicker id="end_date" name="endDate" ng-model="entityEditableData.endDate"
                              time-format="H:mm" placeholder='mm/dd/yyyy'>
            </quick-datepicker>
          </div>
        </form>
    </fieldset>
</div>
<div class="col-md-8">
    <fieldset>
        <!--
        this is the list of creative zones that are already associated with this campaign
        we must use ng-if="entityEditableData.creativeZones" to make sure the ng-init
        will be called only after the $scope is completely constructed
        -->
          <label>Currently Linked Creative Zones</label>
        <!--
        The creative zones list has a reload function that refreshes the UI list when the data is modified.
        This cannot be done automatically by Angular since the actual table is rendered from a copy of
        the provided array and not directly from the entityEditableData.creativeZones when we link a creative
        with this campaign we are updating entityEditableData.creativeZones and we need a way to let the
        child zones list to know about the change. Therefore we copy a reference to the reload
        function into the scope of the edit rotation form by doing
        $parent.entityEditableData.tempData.reloadCreativeZonessList=reload (reference to line 24)
        -->
          <div ng-if="entityEditableData.creativeZones.length >= 0" ng-controller="ListInventoryCtrl"
            ng-init="init(Inventory.CREATIVE_ZONE, entityEditableData.creativeZones, Inventory.BUY_CAMPAIGN, entityEditableData);
                    $parent.entityEditableData.tempData.reloadCreativeZonessList=reload">
            <div ng-include src="'/ui/src/app/inventory/templates/creativezones.tpl.html'"></div>
          </div>
          <div class="form-group">
            <label>Link Creative Zones</label>
            <ui-select ng-model="entityEditableData.tempData.creativeZones" theme="bootstrap" reset-search-input="false" style="width: 30%;">
                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="creativeZone in entityEditableData.options.creativeZones | filter: $select.search" style="width:auto;">
                    <div ng-bind-html="creativeZone.id | highlight: $select.search"></div>
                    <div ng-bind-html="creativeZone.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <button style="margin-top: 10px;width: 5em;display: inline;" class="btn btn-primary"
                ng-click="Inventory.linkCreativeZoneToBuyCampaign(
                            entityEditableData, entityEditableData.tempData.creativeZones);
                            entityEditableData.tempData.reloadCreativeZonessList()">Link</button>
          </div>
    </fieldset>
</div>
<div class="col-md-12">
    <button ng-click="save()" class="btn btn-primary" ng-disabled="disableSubmit() || form.$invalid">Save</button>
    <button ng-click="cancel()" class="btn btn-default" ng-disabled="disableSubmit()">Cancel</button>
</div>