<div class="col-xs-4 col-sm-4 col-md-4">
    <fieldset>
        <legend ng-if="entityEditableData.id == null" style="background-color: #D9EDF7">New Rotation {{entityEditableData.name}}</legend>
        <legend ng-if="entityEditableData.id != null" style="background-color: #D9EDF7">Edit Rotation {{entityEditableData.name}}</legend>
        <form name="form">
          <div class="form-group" ng-class="{ 'has-error' : form.rotationName.$invalid && !form.rotationName.$pristine }">
            <label>Rotation Name</label>
            <input ng-model="entityEditableData.name" class="form-control" type="text" name="rotationName" placeholder="{{entityEditableData.name}}" required/>
            <span ng-if="form.rotationName.$invalid && !form.rotationName.$pristine" class="invalid">Rotation Name is required</span>
          </div>
          <div class="form-group">
              <label class="label-control">Type</label>
              <ui-select ng-model="entityEditableData.creativeZoneType_id" theme="bootstrap" name="type" reset-search-input="false">
                <ui-select-match placeholder="">{{$select.selected.typeName}}</ui-select-match>
                <ui-select-choices repeat="type.typeId as type in entityEditableData.options.creativeZoneType_id | filter: $select.search">
                  <div ng-bind-html="type.typeName | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
          </div>
          <div class="form-group">
              <label tooltip-placement="top" tooltip="Ability to have mixed Creatives inside a Rotation">Heterogeneous</label>
              <!--
                creativeZoneType_id == 2 is IM Ad. IM Ad is a creative zone which
                is composed out of two IFrames. We associate the creative zone
                with a single heterogeneous rotation that contains creative of
                different types (corresponding to the two different IFrames)
                Therefore, if the rotation is of type IM Ad it must be heterogeneous
              -->
              <input ng-if="entityEditableData.creativeZoneType_id != 2" ng-model="entityEditableData.isHeterogeneous"
                     type="checkbox" placeholder="{{entityEditableData.isHeterogeneous}}" />
              <input ng-if="entityEditableData.creativeZoneType_id == 2" ng-model="entityEditableData.isHeterogeneous"
                     ng-init="entityEditableData.isHeterogeneous = true" disabled="disabled" type="checkbox" />
          </div>
          <div class="form-group">
              <label>Enabled</label>
              <input ng-model="entityEditableData.enabled" type="checkbox" placeholder="{{entityEditableData.enabled}}"/>
          </div>
          <div class="form-group">
            <label title="Resell rotations are ads hosted by Ad Server on behalf of an external advertiser">Is this Resell Rotation?</label>
            <input ng-model="entityEditableData.resellRotation" type="checkbox" placeholder="{{entityEditableData.resellRotation}}"/>
          </div>
          <div class="form-group">
            <label title="For auto rotations the system rotates creative based on clicks/impressions rather than static weights">Is Auto Rotation?</label>
            <input ng-model="entityEditableData.isAutoRotation" type="checkbox" placeholder="{{entityEditableData.isAutoRotation}}"/>
          </div>
        </form>
    </fieldset>
</div>
<div class="col-xs-8 col-sm-8 col-md-8">
    <!--
    this is the list of creatives that are already associated with this rotation
    we must use ng-if="entityEditableData.creatives" to make sure the ng-init
    will be called only after the $scope is completely constructed
    -->
    <h4>Currently Linked Creatives</h4>
    <!--
     The creatives list has a reload function that refreshes the UI list when the data is modified.
     This cannot be done automatically by Angular since the actual table is rendered from a copy of
     the provided array and not directly from the entityEditableData.creatives when we link a creative
     with this rotation we are updating entityEditableData.creatives and we need a way to let the
     child creatives list to know about the change. Therefore we copy a reference to the reload
     function into the scope of the edit rotation form by doing
     $parent.entityEditableData.tempData.reloadCreativesList=reload (reference to line 24)
    -->
    <div ng-if="entityEditableData.creatives.length >= 0" ng-controller="ListInventoryCtrl"
       ng-init="init(Inventory.CREATIVE, entityEditableData.creatives, Inventory.ROTATION, entityEditableData);
                $parent.entityEditableData.tempData.reloadCreativesList=reload">
    <div ng-include src="'/ui/src/app/inventory/templates/creatives.tpl.html'"></div>
    </div>

    <div class="form-group">
    <label class="label-control">Link Creatives</label>
    <ui-select ng-model="entityEditableData.tempData.creative" theme="bootstrap" reset-search-input="false" style="width: 30%;">
        <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="creative in entityEditableData.options.creatives | filter: $select.search | filter: Inventory.generateExcludeFromSelectFilter(entityEditableData.creatives,'id')" style="width: auto;">
            <div ng-bind-html="creative.id | highlight: $select.search"></div>
            <div ng-bind-html="creative.name | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
    </div>
    <div class="form-group col-md-4" style="padding:0;width: 30%;">
        <label>Weight</label>
        <input class="form-control" ng-model="entityEditableData.tempData.creativeWeightToLink" type="number" min="0" />
        <!--
          The linkCreativeToRotation retrieves an editable template of the creative
          from the server before adding it to the creatives list in order to allow
          the user to edit it without saving the parent rotation first.
          This is done a-synchronously therefore we pass the reload function as
          an argument allowing the linkCreativeToRotation to refresh the view
          BOOOOOOO
        -->
        <button class="btn btn-primary" style="margin-top: 10px;"
              ng-click="Inventory.linkCreativeToRotation(
                      entityEditableData, entityEditableData.tempData.creative,
                      entityEditableData.tempData.creativeWeightToLink,
                      entityEditableData.tempData.reloadCreativesList)">Link</button>
    </div>
</div>
<button ng-click="save()" class="btn btn-primary" ng-disabled="disableSubmit() || form.$invalid">Save</button>
<button ng-click="cancel()" class="btn btn-default" ng-disabled="disableSubmit()">Cancel</button>

