<div class="col-md-4">
    <fieldset>
        <legend ng-if="entityEditableData.id == null" style="background-color: #D9EDF7;">New Creative Zone {{entityEditableData.name}}</legend>
        <legend ng-if="entityEditableData.id != null" style="background-color: #D9EDF7;">Edit Creative Zone {{entityEditableData.name}}</legend>
        <form name="form">
          <div class="form-group" ng-class="{ 'has-error' : form.creativeZoneName.$invalid && !form.creativeZoneName.$pristine }">
            <label class="label-control">Creative Zone Name</label>
            <input type="text" class="form-control" ng-model="entityEditableData.name" name="creativeZoneName" placeholder="Creative Zone Name" required />
            <span ng-if="form.creativeZoneName.$invalid && !form.creativeZoneName.$pristine" style="color: #a94442;">Creative zone name is required</span>
          </div>
          <div class="form-group">
              <label class="label-control">Publisher</label>
              <ui-select ng-model="entityEditableData.publisherId" theme="bootstrap" name="publisher" reset-search-input="false">
                  <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="publisher.id as publisher in entityEditableData.options.publisherId | filter: $select.search">
                      <div ng-bind-html="publisher.id | highlight: $select.search"></div>
                      <div ng-bind-html="publisher.name | highlight: $select.search"></div>
                  </ui-select-choices>
              </ui-select>
          </div>
          <div class="form-group">
              <label class="label-control">Default Rotation</label>
              <ui-select ng-model="entityEditableData.defaultRotationId" theme="bootstrap" name="defaultRotation" reset-search-input="false" required>
                  <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="rotation.id as rotation in entityEditableData.options.defaultRotationId | filter: $select.search | filter: {enabled: 1}" style="width: auto;">
                      <div ng-bind-html="rotation.id | highlight: $select.search"></div>
                      <div ng-bind-html="rotation.name | highlight: $select.search"></div>
                  </ui-select-choices>
              </ui-select>
              <span ng-class="{ invalid : form.defaultRotation.$invalid, valid : form.defaultRotation.$valid }">Default Rotation is required</span>
          </div>
          <div class="form-group">
              <label class="label-control">Type</label>
              <ui-select ng-model="entityEditableData.typeId" theme="bootstrap" name="type" reset-search-input="false" required>
                  <ui-select-match placeholder="">{{$select.selected.typeName}}</ui-select-match>
                  <ui-select-choices repeat="type.typeId as type in entityEditableData.options.typeId | filter: $select.search">
                      <div ng-bind-html="type.typeName | highlight: $select.search"></div>
                  </ui-select-choices>
              </ui-select>
              <span ng-class="{ invalid : form.type.$invalid, valid : form.type.$valid }">Type is required</span>
          </div>
          <div ng-if="Inventory.getOptionByProperty(entityEditableData.options.typeId,'typeId',entityEditableData.typeId).dimensionsRequired == 1">
            <label class="label-control">Dimensions</label>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="entityEditableData.width" placeholder="width"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="entityEditableData.height" placeholder="height"/>
            </div>
          </div>
          <div ng-if="Inventory.getOptionByProperty(entityEditableData.options.typeId,'typeId',entityEditableData.typeId).locationRequired == 1">
            <label class="label-control">Location</label>
            <div class="form-group">
              <select class="form-control" ng-model="entityEditableData.creativeZoneLocation_code"
                      ng-options="location.creativeZoneLocation_code as location.location for location in entityEditableData.options.creativeZoneLocation_code"></select>
            </div>
          </div>
          <div class="form-group">
            <label>Enabled</label>
            <input ng-model="entityEditableData.enabled" type="checkbox" placeholder="{{entityEditableData.enabled}}" />
          </div>
          <div class="form-group">
            <label>Safe For Work </label>
            <input ng-model="entityEditableData.sfw" type="checkbox" placeholder="{{entityEditableData.sfw}}" />
          </div>
          <button ng-click="save()" class="btn btn-primary" ng-disabled="disableSubmit() || form.$invalid">Save</button>
          <button ng-click="cancel()" class="btn btn-default" ng-disabled="disableSubmit()">Cancel</button>
        </form>
    </fieldset>
</div>
<div class="col-md-8">
    <div ng-if="entityEditableData.variables.length >= 0" ng-controller="ListInventoryCtrl"
         ng-init="init(Inventory.TEMPLATE_VARIABLE, entityEditableData.variables, Inventory.CREATIVE_ZONE, entityEditableData);
                $parent.entityEditableData.tempData.reloadCreativesList=reload">
        <div ng-include src="'/ui/src/app/inventory/templates/templatevariables.tpl.html'"></div>
    </div>
</div>