<div class="col-md-4">
    <fieldset>
        <legend ng-if="entityEditableData.id == null" style="background-color: #D9EDF7;">New Advertiser {{entityEditableData.name}}</legend>
        <legend ng-if="entityEditableData.id != null" style="background-color: #D9EDF7;">Edit Advertiser {{entityEditableData.name}}</legend>
        <form name="form" novalidate>
          <div class="form-group" ng-class="{ 'has-error' : form.advertiser.$invalid && !form.advertiser.$pristine }">
            <label>Advertiser Name</label>
            <input ng-model="entityEditableData.name" name="advertiser" class="form-control" type="text" placeholder="{{entityEditableData.name}}" required />
            <span ng-if="form.advertiser.$invalid && !form.advertiser.$pristine" class="invalid">Advertiser name is required</span>
          </div>
          <div class="form-group">
            <label>Enabled</label>
            <input ng-model="entityEditableData.enabled" type="checkbox" placeholder="{{entityEditableData.enabled}}" />
          </div>
          <button ng-click="save()" class="btn btn-primary" ng-disabled="disableSubmit() || form.$invalid">Save</button>
          <button ng-click="cancel()" class="btn btn-default" ng-disabled="disableSubmit()">Cancel</button>
        </form>
    </fieldset>
</div>