<div class="col-md-4">
    <fieldset>
        <legend ng-if="entityEditableData.id == null" style="background-color: #D9EDF7;">New RuleSet {{entityEditableData.name}}</legend>
        <legend ng-if="entityEditableData.id != null" style="background-color: #D9EDF7;">Edit RuleSet {{entityEditableData.name}}</legend>
        <form name="form" style="width: 100%" novalidate>
          <div class="form-group" ng-class="{ 'has-error' : form.ruleSetName.$invalid && !form.ruleSetName.$pristine }">
            <label>Rule Set Name</label>
            <input ng-model="entityEditableData.name" class="form-control" type="text" name="ruleSetName" placeholder="{{entityEditableData.name}}" required/>
            <span ng-if="form.ruleSetName.$invalid && !form.ruleSetName.$pristine" style="color: #a94442;">Rule Set name is required</span>
          </div>
        </form>
    </fieldset>
</div>
<div class="col-md-8">
      <!--
      this is the list of rules that are associated with this rotaiton
      we must use ng-if="entityEditableData.rules" to make sure the ng-init
      will be called only after the $scope is completely constructed
      -->
    <h4>Rules</h4>
    <div ng-if="entityEditableData.rules.length >= 0" ng-controller="ListInventoryCtrl"
         ng-init="init(Inventory.RULE, entityEditableData.rules, Inventory.RULE_SET, entityEditableData)">
        <div ng-include src="'/ui/src/app/inventory/templates/rules.tpl.html'"></div>
    </div>
</div>
<button ng-click="save()" class="btn btn-primary" ng-disabled="disableSubmit() || form.$invalid">Save</button>
<button ng-click="cancel()" class="btn btn-default" ng-disabled="disableSubmit()">Cancel</button>