<div ng-class="isNested()? 'inventory-list-pannel' : 'container'">
  <div class="row" ng-init="init(Inventory.TEMPLATE_VARIABLE)">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div ng-class="showSearch()? 'col-sm-7 col-md-7': 'col-sm-6 col-md-6'">
            <h4>Template Variables</h4>
          </div>
          <div class="col-sm-3 col-md-3">
            <div ng-show="showSearch()" class="input-group">
              <input type="text" class="form-control" ng-model="search_filter.term" ng-change="refresh()" placeholder="Search..."/>
              <span class="input-group-btn">
                  <button ng-click="search_filter.term='';refresh()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
              </span>
            </div>
          </div>
          <div class="col-sm-2 col-md-2" style="text-align: right;">
            <button ng-click="createNewTemplateVariable=true" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Template Variable</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <!--New Entity -->
        <div ng-if="createNewTemplateVariable">
          <div
              ng-controller="EditInventoryCtrl"
              ng-init="init(
                          Inventory.TEMPLATE_VARIABLE, null, parentEntityName, parentEntityData,
                          $parent.getOnSaved($parent.$parent, 'createNewTemplateVariable'),
                          $parent.getOnCanceled($parent.$parent, 'createNewTemplateVariable'))">
            <!-- Error Handling -->
            <div ng-if="alerts.length >= 1" ng-show="alerts.show" ng-include src="'/ui/src/app/inventory/templates/alert.tpl.html'"></div>
            <!-- New Entry -->
            <div ng-show="open()" ng-include src="'/ui/src/app/inventory/templates/edit_template_variable.tpl.html'"></div>
          </div>
        </div>
        <!-- Error Handling -->
        <div ng-if="alerts.length >= 1" ng-show="alerts.show" ng-include src="'/ui/src/app/inventory/templates/alert.tpl.html'"></div>

        <!-- Main Table -->
        <table class="ng-table table">
          <thead>
          <tr>
            <th ng-click="sort('id', $event)" class="default-cell" ng-class="getHeaderCssClass('id')" style="text-align: left;"><div>Id</div></th>
            <th ng-click="sort('typeName', $event)" class="default-cell" ng-class="getHeaderCssClass('id')" style="text-align: left;"><div>Type</div></th>
            <th ng-click="sort('argumentKey', $event)" class="default-cell" ng-class="getHeaderCssClass('id')" style="text-align: left;"><div>Argument Key</div></th>
            <th ng-click="sort('value', $event)" class="default-cell" ng-class="getHeaderCssClass('name')" style="text-align: left;"><div>Value</div></th>
            <th ng-click="sort('creativeZoneId', $event)" class="default-cell" ng-class="getHeaderCssClass('typeName')" style="text-align: left;"><div>Creative Zones</div></th>
            <th ng-click="sort('publisherId', $event)" class="default-cell" ng-class="getHeaderCssClass('contentPath')" style="text-align: right;"><div>Publishers</div></th>
            <th ng-if="disabled==false" ng-click="sort('enabled', $event)" class="default-cell" ng-class="getHeaderCssClass('enabled')" style="text-align: right;"><div>Enabled</div></th>
            <th class="col-md-1">
                <input type="checkbox" ng-model="disabled" ng-change="refresh()" class="col-md-1" style="margin:0;"/>
                <h6 class="col-md-7" style="margin:0;">
                    <a ng-click="disabled=!disabled;refresh()">Hide Disabled</a>
                </h6>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat-start="row in tableData">
            <td ng-class="getRowCss(row)" style="text-align: left;">{{row.id==null?"Not Yet Saved":row.id}}</td>
            <td ng-class="getRowCss(row)" style="text-align: left;">{{row.typeName}}</td>
            <td ng-class="getRowCss(row)" style="text-align: left;">{{row.argumentKey}}</td>
            <td ng-class="getRowCss(row)" style="text-align: left;">{{row.value}}</td>
            <td ng-class="getRowCss(row)" style="text-align: left;">{{row.creativeZonesList}}</td>
            <td ng-class="getRowCss(row)" style="text-align: right;">{{row.publishersList}}</td>
            <td ng-if="disabled==false" ng-class="getRowCss(row)" style="text-align: right;">{{(row.enabled == 0? "No":"Yes")}}</td>
            <!-- Buttons -->
            <td style="width:10px">
              <div ng-click="row.confirmDelete=!row.confirmDelete">
                <button class="remove btn btn-xs btn-default" tooltip-placement="right" tooltip="Remove" style="vertical-align: top;">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
              <div>
                <button ng-click="row.editRow=true" class="edit btn btn-xs btn-default" tooltip-placement="right" tooltip="Edit">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
              </div>
            </td>
          </tr>
          <!--Remove Alert in a stand alone form -->
          <tr ng-if="!isNested()" class="danger" ng-show="row.confirmDelete">
            <td class="alert" colspan="7">Are you sure you would like to delete this item
              <button ng-click="delete(row.id, true, $index);row.confirmDelete=!row.confirmDelete" class="btn btn-default">Yes</button>
              <button ng-click="row.confirmDelete=!row.confirmDelete" class="btn btn-default">No</button>
            </td>
          </tr>
          <!--Remove Alert nested (e.g. in the context of publisher) -->
          <tr ng-if="isNested()" class="danger" ng-show="row.confirmDelete">
            <td class="alert" colspan="7">Are you sure you would like to unlink this variable
              <!--
                when the parent entity is submitted to the server, any variable which is currently associated with
                it and is not on the submitted list will be unlinked.
                Passing null as entity id to delete causes it to simply remove the item from the table in
                memory without sending any request to the server (since the entity id is unknown).
                We use this functionality of the delete method to unlink from the parent rather than deleting
                the actual entity.
              -->
              <button ng-click="delete(null, false, $index);row.confirmDelete=!row.confirmDelete;reload()" class="btn btn-default">Yes</button>
              <button ng-click="row.confirmDelete=!row.confirmDelete" class="btn btn-default">No</button>
            </td>
          </tr>
          <!-- Edit Template Variables -->
          <tr ng-repeat-end class="well">
            <td ng-if="row.editRow" colspan="7">
              <div
                  ng-controller="EditInventoryCtrl"
                  ng-init="init(
                              Inventory.TEMPLATE_VARIABLE, row, parentEntityName, parentEntityData,
                              $parent.getOnSaved(row, 'editRow'),
                              $parent.getOnCanceled(row, 'editRow'))">

                <!-- Error Handling -->
                <div ng-if="alerts.length >= 1" ng-show="alerts.show" ng-include src="'/ui/src/app/inventory/templates/alert.tpl.html'"></div>
                <div ng-show="open()" ng-include src="'/ui/src/app/inventory/templates/edit_template_variable.tpl.html'"></div>
              </div>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr ng-if="showPageCount()">
            <td colspan="7" style="border-left-style: none;border-right-style: none;border-bottom-style: none">
              <div class="btn-group pull-right">
                <button type="button" ng-click="setPageCount(10)" class="btn btn-default btn-xs" ng-class="{active: count == 10}"> 10 </button>
                <button type="button" ng-click="setPageCount(25)" class="btn btn-default btn-xs" ng-class="{active: count == 25}"> 25 </button>
                <button type="button" ng-click="setPageCount(50)" class="btn btn-default btn-xs" ng-class="{active: count == 50}"> 50 </button>
                <button type="button" ng-click="setPageCount(100)" class="btn btn-default btn-xs" ng-class="{active: count == 100}"> 100 </button>
              </div>
              <ul class="pagination btn-group pull-left">
                <li ng-repeat="page in pages" ng-class="{'disabled': !page.active}">
                  <a ng-click="setPage(page.number)">{{page.label}}</a>
                </li>
              </ul>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>