<div class="row">
  <div class="col-sm-12 info-box">
    <h3 class="col-sm-6 noPadding noMargin">{{sellCampaign.name}} Rule Set</h3>
    <a ng-click="newTempVarSwitchCtrl()" class="col-sm-2 btn btn-xs btn-primary pull-right">**link a rule set ?**</a>
  </div>

  <div class="col-sm-6 info-box">
    <san-field-group>
      <san-field label="Rule Set ID" model="sellCampaign.ruleSet.id"></san-field>
      <san-field label="Rule Set Name" model="sellCampaign.ruleSet.name"></san-field>
      <san-field label="Last Updated" model="sellCampaign.ruleSet.versionNumber" type="date"></san-field>
      <san-field label="Created Date" model="sellCampaign.ruleSet.createDate" type="date"></san-field>
      <san-field label="Created By" model="'Stormageddon Dark Lord of All'"></san-field>
    </san-field-group>
  </div>

<!-- Rules -->

<div class="col-sm-12 noPadding">
  <div class="col-sm-12">
    <h3 class="col-sm-4 noPadding noMargin">Rules</h3>
    <a ng-click="linkCreative()" class="col-sm-2 btn btn-xs btn-primary pull-right">Add Rule</a>
  </div>
  <div class="table-responsive col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th class="text-left">ID</th>
          <th class="text-left">Type</th>
          <th class="text-right">Value</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rule in sellCampaign.ruleSet.rules">
          <td class="text-left">{{rule.id}}</td>
          <td class="text-left">{{rule.typeName}}</td>
          <td class="text-right">{{rule.value}}</td>
          <td class="text-right">
            <button class="btn btn-danger btn-xs">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<pre>{{sellCampaign|json}}</pre>