  <san-field-group>
    <san-field label="Advertiser Name:" model="advertiser.name" type="text" edit-var="'true'" required="true"></san-field>
    <san-field label="Company Name:" model="advertiser.companyName" type="text" edit-var="'true'" required="true"></san-field>
    <san-field label="Invoice:" model="advertiser.invoiceNumber" type="text" edit-var="'true'" required="true"></san-field>
    <san-field label="Contact:" model="advertiser.contactName" type="text" edit-var="'true'" required="true"></san-field>
    <san-field label="Start Date:" model="advertiser.startDate" type="date" edit-var="'true'" required="true"></san-field>
    <san-field label="End Date:" model="advertiser.endDate" type="date" edit-var="'true'" required="true"></san-field>
    <san-field label="Notes:" model="advertiser.notes" type="textarea" edit-var="'true'" required="true"></san-field>
  </san-field-group>
<div class="col-sm-12 info-box text-right">
  <button type="button" ng-click="saveNewAdvertiser(advertiser)" class="btn btn-primary btn-xs"></span>Save</button>
  <button type="button" ng-click="$state.go('AdvertisersUIRoot.index')" class="btn btn-default btn-xs">Cancel</button>
</div>