{{error}}
<san-confirm
        active="deleteAlert"
        confirm="buyCampaign.enabled=false; deleteBuyCampaign(buyCampaign.id)"
        confirm-text="Delete Buy Campaign {{buyCampaign.id}}">
  <p>Are you sure you wish to delete &quot;<strong>{{buyCampaign.name}}</strong>&quot; Buy Campaign?</p>
</san-confirm>
<san-crud-buttons
        class="pull-right"
        edit="buyOrderEditSwitch()"
        delete="deleteAlert=true"
        save="save(buyCampaign)"
        cancel="buyOrderEditSwitch()">
</san-crud-buttons>
<div class="col-sm-10">
  <dl class="dl-horizontal field-group">
    <dt><label>Name:</label></dt>
    <dd ng-if="!buyOrderEdit" class="field"><p>{{buyCampaign.name}}</p></dd>
    <dd ng-if="buyOrderEdit">
      <div class="field">
        <input ng-model="buyCampaign.name" type="text" class="form-control" style="margin-top: 0;" placeholder="Name" required>
      </div>
    </dd>
    <dt><label>Enabled:</label></dt>
    <dd ng-if="!buyOrderEdit">
      <p>{{buyCampaign.enabled ? 'Yes' : 'No'}}</p>
    </dd>
    <dd ng-if="buyOrderEdit">
      <div class="field">
        <input ng-model="buyCampaign.enabled" type="checkbox" class="form-control" style="margin-top: 0;">
      </div>
    </dd>
    <dt><label>Company Name:</label></dt>
    <dd ng-show="!buyOrderEdit"><p>{{buyCampaign.companyName}}</p></dd>
    <dd ng-if="buyOrderEdit">
      <div class="field">
        <input ng-model="buyCampaign.companyName" type="text" class="form-control" style="margin-top: 0;" placeholder="Company Name" required>
      </div>
    </dd>
    <dt><label>Invoice:</label></dt>
    <dd ng-if="!buyOrderEdit"><p>{{buyCampaign.invoiceNumber}}</p></dd>
    <dd ng-if="buyOrderEdit">
      <div class="field">
        <input ng-model="buyCampaign.invoiceNumber" type="text" class="form-control" style="margin-top: 0;" placeholder="Invoice Number" required>
      </div>
    </dd>
    <dt><label>Contact:</label></dt>
    <dd ng-if="!buyOrderEdit"><p>{{buyCampaign.contactName}}</p></dd>
    <dd ng-if="buyOrderEdit">
      <div class="field">
        <input ng-model="buyCampaign.contactName" type="text" class="form-control" style="margin-top: 0;" placeholder="Contact Name" required>
      </div>
    </dd>
    <dt ng-if-start="buyCampaign.createDate"><label>Created On:</label></dt>
    <dd ng-if-end><p>{{buyCampaign.createDate | date: 'short'}}</p></dd>
    <dt ng-if-start="buyCampaign.versionNumber"><label>Last Updated:</label></dt>
    <dd ng-if-end><p>{{buyCampaign.versionNumber | date: 'short'}}</p></dd>
    <dt ng-if-start="buyCampaign.ownerId">Created By:</dt>
    <dd ng-if-end>Anil Senpai</dd>
    <dt><label>Notes: </label></dt>
    <dd ng-if="!buyOrderEdit"><p>{{buyCampaign.notes}}</p></dd>
    <dd ng-if="buyOrderEdit">
      <textarea ng-if="buyOrderEdit" ng-model="buyCampaign.notes" rows="5" cols="56" class="form-control"></textarea>
    </dd>
  </dl>
</div>

<hr class="col-sm-12"/>

<div class="col-sm-12 noPadding">
  <h3 class="col-sm-4 noPadding noMargin">Line Items</h3>
  <a ng-click="createOrderSwitch()" class="col-sm-2 btn btn-xs btn-primary pull-right">Add New Line Item</a>
</div>


<!-- Add A New Line Item -->

<div ng-show="addOrder" class="noPadding">
  <div class="col-sm-12 info-box noPadding">
    <div class="input-group-sm col-sm-3">
      <select ng-model="newOrder.publisherId" ng-change="buyOrderInit(level.PUB);getCreativeZonesOnPubId(newOrder.publisherId)" ng-options="publisher.id as publisher.name for publisher in Publisher.publishers | orderBy: 'name'" class="form-control">
        <option value="">Select a Publisher...</option>
      </select>
    </div>
    <div class="input-group-sm col-sm-3 col-sm-offset-1">
      <select ng-model="newOrder.creativeZoneId" ng-change="buyOrderInit(level.CZ)" ng-options="creativeZone.id as creativeZone.name for creativeZone in pubCreativeZones | orderBy: 'name'" ng-disabled="!newOrder.publisherId" class="form-control">
        <option value="">Select a Creative Zone...</option>
      </select>
    </div>
    <div class="input-group-sm col-sm-3 col-sm-offset-1">
      <select ng-model="newOrder.costTypeId" ng-options="value as BuyCampaign.getStringForCostType(value) for (key, value) in BuyCampaign.costTypes" ng-change="buyOrderTypeSwitch(newOrder.costTypeId);orderDetails = true;" ng-disabled="!newOrder.creativeZoneId" class="form-control">
        <option value="">Select a Buy Type...</option>
      </select>
    </div>
  </div>

  <hr class="col-sm-12"/>
  <div ng-show="orderDetails">
    <div class="col-sm-15 input-group-sm noPadding">
      <label>Start Date:</label>
      <input ng-model="newOrder.expectedStartDate" ng-change="calcDate(newOrder.days, 'start')" ng-disabled="!startDate || !newOrder.costTypeId" type="date" class="form-control">
    </div>
    <div class="col-sm-15 input-group-sm">
      <label>Days:</label>
      <input ng-model="newOrder.days"
             ng-change="calcDate(newOrder.days, from)"
             ng-disabled="!days || !newOrder.expectedStartDate && !newOrder.expectedEndDate"
             type="number"
             class="form-control"
             min="0"
             placeholder="Start or End Date First">
    </div>
    <div class="col-sm-15 input-group-sm">
      <label>End Date:</label>
      <input ng-model="newOrder.expectedEndDate" ng-change="calcDate(newOrder.days, 'end')" ng-disabled="!endDate || !newOrder.costTypeId" type="date" class="form-control">
    </div>
    <div class="col-sm-15 input-group-sm">
      <label>Count:</label>
      <input ng-model="newOrder.rate" ng-disabled="!count || !newOrder.costTypeId" type="number" min="0" class="form-control">
    </div>
    <div class="col-sm-15">
      <label>Cost:</label>
      <div class="input-group input-group-sm">
        <span class="input-group-addon">$</span>
        <input ng-model="newOrder.cost" ng-disabled="!cost || !newOrder.costTypeId" type="number" min="0.00" step="0.01" class="form-control">
      </div>
    </div>
    <div class="col-sm-12 info-box noPadding">
      <button class="btn btn-xs btn-info" ng-click="saveLineItem(newOrder)">Save</button>
      <button class="btn btn-xs btn-default" ng-click="orderDetails=false;addOrder=false">Cancel</button>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th class="text-left">Publisher</th>
    <th class="text-left">Creative Zone</th>
    <th class="text-left">BuyType</th>
    <th class="text-right">Start Date</th>
    <th class="text-right">End Date</th>
    <th class="text-right">Count</th>
    <th class="text-right">Cost</th>
    <th class="text-right"></th>
  </tr>
  </thead>

  <!-- Line Items -->


  <tr ng-repeat-start="order in buyCampaign.orders">
    <td class="text-left">{{order.creativeZone.publisherName}}</td>
    <td class="text-left col-sm-2">{{order.creativeZone.name}}</td>

    <!-- Current API does not support the changing of Creative zone on a line item, Users must first delete the creative zone line item
    and then add a new Line item to add a new creative zone.  The below section is being commented out for future desired functionality -->


    <!--   <td ng-show="editOrderId===order.id" class="text-left" colspan="2">
        <div class="input-group input-group-sm">
          <select ng-model="order.creativeZoneId" ng-options="creativeZone.id*1 as creativeZone.name for creativeZone in CreativeZone.creativeZones" class="form-control">{{order.creativeZone.name}}</select>
        </div>
      </td> -->

    <td ng-show="editOrderId!==order.id" class="text-left">{{order.costTypeId==0? "Manual":BuyCampaign.getStringForCostType(order.costTypeId)}}</td>
    <td ng-show="editOrderId==order.id" class="text-left col-sm-1">
      <div class="input-group input-group-sm">
        <select ng-model="order.costTypeId" ng-options="value as BuyCampaign.getStringForCostType(value) for (key, value) in BuyCampaign.costTypes" class="form-control"></select>
        <div class="input-group input-group-sm">
    </td>
    <td ng-show="editOrderId!==order.id" class="text-right">{{order.expectedStartDate | date: 'shortDate'}}</td>
    <td ng-show="editOrderId==order.id" class="col-sm-1 text-right">
      <div class="input-group input-group-sm">
        <input ng-model="order.expectedStartDate" type="date" class="form-control" style="width:85%;">
      </div>
    </td>
    <td ng-show="editOrderId!==order.id" class="text-right">
      {{order.expectedEndDate | date: 'shortDate'}}
    </td>
    <td ng-show="editOrderId==order.id" class="col-sm-1 text-right">
      <div class="input-group input-group-sm">
        <input ng-model="order.expectedEndDate" type="date" class="form-control" style="width:85%;">
      </div>
    </td>
    <td ng-show="editOrderId!==order.id" class="text-right">
      {{order.rate}}
    </td>
    <td ng-show="editOrderId==order.id" class="col-sm-2">
      <div class="input-group input-group-sm">
        <input ng-model="order.rate" type="number" min="0" class="form-control">
      </div>
    </td>
    <td ng-show="editOrderId!==order.id" class="text-right">
      {{order.cost | currency}}
    </td>
    <td ng-show="editOrderId==order.id" class="col-sm-2">
      <div class="input-group input-group-sm">
        <span class="input-group-addon">$</span>
        <input ng-model="order.cost" type="number" min="0.00" step="0.01" class="form-control">
      </div>
    </td>
    <td class="col-sm-2">
      <san-crud-buttons
              edit="editSwitchCtrl(order)"
              delete="delConfirmLineItem=true"
              save="saveLineItem(order)"
              cancel="editSwitchCtrl()">
      </san-crud-buttons>
    </td>
  </tr>
  <tr ng-repeat-end ng-show="delConfirmLineItem">
    <td colspan="8">
      <san-confirm
              active="delConfirmLineItem"
              confirm="delLineitem(order.id)"
              confirm-text="Delete Line Item {{order.creativeZone.name}}">
        <p>Are you sure you wish to delete &quot;<strong>{{order.creativeZone.name}}</strong>&quot; Line Item?</p>
      </san-confirm>
    </td>
  </tr>
</table>
<div class="clearfix"></div>

<hr style="border-bottom: 1px solid black;">

<div class="text-right col-sm-12 noPadding">Total: {{totalCost | currency:"$":2}}</div>