<div class="col-sm-6 info-box">
  <san-field-group>
    <san-field label="Rotation Name" model="newRotation.name" edit-var="'true'" type="text" required="true"></san-field>
    <san-field label="Type" edit-var="'true'" required="true">
      <select ng-model="newRotation.creativeZoneType_id" ng-change="isImad()" ng-options="value as key for (key, value) in Rotation.types" class="form-control" required>
      </select>
    </san-field>
    <dd><p ng-show="newRotation.creativeZoneType_id==Rotation.types.IMAD">* All IM Ads are automatically set to Heterogenous *</p></dd>
    <san-field label="Resell Rotation" model="newRotation.resellRotation" edit-var="'true'" type="checkbox" required="true"></san-field>
    <san-field label="Enabled" model="newRotation.enabled" edit-var="'true'" type="checkbox" required="true"></san-field>
    <san-field label="Auto Rotation" model="newRotation.isAutoRotation" edit-var="'true'" type="checkbox" required="true"></san-field>
    <san-field label="Created By" model="'Stormageddon Dark Lord of All'"></san-field>
  </san-field-group>
</div>
<div class="info-box text-right">
  <button class="btn btn-primary btn-xs" ng-click="save(newRotation)">Save</button>
  <button class="btn btn-default btn-xs" ng-click="clear()">Clear</button>
</div>
