<div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="searchFilter" placeholder="Search">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="optionsVisible=!optionsVisible">
            <span class="glyphicon glyphicon-cog"></span>
        </button>
      </span>
    </div>
</div>
<div ng-show="optionsVisible" class="list-group">
    <div class="list-group-item">
      <div class="checkbox">
        <label>
          <input ng-model="settings.showDisabled" type="checkbox"> Show Disabled
        </label>
      </div>
    </div>
</div>