<div class="container">
	<h2>Change Password</h2>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3" ng-controller="UserController">
			<p class="text-center">
				Use the form below to change your password. Your password cannot be the same as your username.
			</p>
			<div ng-show="!!alert" class="alert alert-success alert-dismissible">
				<p>{{alert}}</p>
			</div>
			<form method="post" name="changeForm">
				<div class="form-group has-feedback" ng-class='{ "has-error": changeForm.newPassword.$dirty && changeForm.newPassword.$invalid, "has-success": changeForm.newPassword.$dirty && changeForm.newPassword.$valid }'>
					<div class="input-group">
						<span class="input-group-addon">
							<span id="8char" class="glyphicon form-control-feedback" ng-class='{ "glyphicon-remove": changeForm.newPassword.$invalid, "glyphicon-ok": !changeForm.newPassword.$invalid  }'></span>
						</span>
						<input ng-model="user.newPassword" type="password" class="input-lg form-control" name="newPassword" id="newPassword" placeholder="New Password" autocomplete="off" required></div>
					<ul ng-show="changeForm.newPassword.$dirty && changeForm.newPassword.$invalid">
						<li>
							<span id="8char" class="glyphicon" ng-class='{ "glyphicon-remove": changeForm.newPassword.$invalid, "glyphicon-ok": !changeForm.newPassword.$invalid  }'></span>
							8 Characters Long
						</li>
						<li>
							<span id="ucase" class="glyphicon glyphicon-remove"></span>
							One Uppercase Letter
						</li>
						<li>
							<span id="lcase" class="glyphicon glyphicon-remove"></span>
							One Lowercase Letter
						</li>
						<li>
							<span id="num" class="glyphicon glyphicon-remove"></span>
							One Number
						</li>
					</ul>
				</div>

				<div class="form-group has-feedback" ng-class='{ "has-error": changeForm.confirmPassword.$dirty && changeForm.confirmPassword.$invalid, "has-success": changeForm.confirmPassword.$dirty && changeForm.confirmPassword.$valid }'>
					<div class="input-group">
						<span class="input-group-addon">
							<span id="8char" class="glyphicon form-control-feedback" ng-class='{ "glyphicon-remove": changeForm.confirmPassword.$invalid, "glyphicon-ok": !changeForm.confirmPassword.$invalid  }'></span>
						</span>
						<input confirm-for="user.newPassword" ng-model="user.confirmPassword" type="password" class="input-lg form-control" name="confirmPassword" id="confirmPassword" placeholder="New Password" autocomplete="off" required></div>
					<ul ng-show="changeForm.confirmPassword.$dirty && changeForm.confirmPassword.$invalid">
						<li ng-show="signupForm.$error.confirm">
							<span id="ucase" class="glyphicon glyphicon-remove" ng-show="changeForm.confirmPassword.$invalid"></span>
							Passwords should match
						</li>
						</ul>
					</div>

					<input ng-disabled="!changeForm.$valid" ng-click="changePassword(changeForm.user)" type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password"></form>
			</div>
			<!--/col-sm-6-->
		</div>
		<!--/row-->
	</div>