<san-confirm
  active="deleteAlert"
  confirm="creative.enabled=false; deleteCreative(creative.id)"
  confirm-text="Delete Creative {{creative.id}}">
    <p>Are you sure you wish to delete &quot;<strong>{{creative.name}}</strong>&quot; Creative?</p>
</san-confirm>
<san-crud-buttons
  class="pull-right"
  edit="creativeEditSwitch()"
  delete="deleteAlert=true"
  save="save(creative)"
  cancel="creativeEditSwitch()">
</san-crud-buttons>
<div class="col-md-4">
  <san-field-group>
    <san-field label="Creative Name" model="creative.name" type="text" edit-var="creativeEdit" required="true"></san-field>
    <san-field ng-if="creativeEdit" model="creative.typeId" label="Type" edit-var="'true'">
      <select style="width:100%" ui-select2
              name="types"
              ng-model="creative.typeId"
              data-placeholder="Choose Type">
        <option ng-repeat="typeId in Creative.options.typeId"
                value="{{typeId.typeId}}">
          {{typeId.typeName}}
        </option>
      </select>
    </san-field>

    <san-field ng-if="!creativeEdit" label="Type" model="creative.typeName" type="text" edit-var="creativeEdit" required="true"></san-field>
    <san-field label="Sub Group Id" type="text" model="creative.subGroupId" edit-var="creativeEdit" required="true"></san-field>
    <san-field label="Width" type="text" model="creative.width" edit-var="creativeEdit" required="true"></san-field>
    <san-field label="Height" type="text" model="creative.height" edit-var="creativeEdit" required="true" placeholder="height"></san-field>
    <san-field ng-if="!creativeEdit" label="Location" type="text" model="creative.location" edit-var="creativeEdit" required="true"></san-field>
    <san-field ng-if="creativeEdit" model="creative.creativeZoneLocation_code" label="Type" edit-var="'true'">
      <select style="width:100%" ui-select2
              name="Location"
              ng-model="creative.creativeZoneLocation_code"
              data-placeholder="Choose Location">
        <option ng-repeat="location in Creative.options.creativeZoneLocation_code"
                value="{{location.creativeZoneLocation_code}}">
          {{location.location}}
        </option>
      </select>
    </san-field>

    <san-field label="Content Path (255)" type="text" model="creative.contentPath" edit-var="creativeEdit" required="true"></san-field>
    <san-field label="Enabled" type="checkbox" model="creative.enabled" edit-var="true" required="true"></san-field>
  </san-field-group>
</div>
<hr class="col-sm-12"/>
<div class="clearfix"></div>