<div class="info-box">
  <div class="info-btn-margin row">
    <h5>Select an Ad Type</h5>
    <button ng-click="newCZDetailsSwitchCtrl(CreativeZone.types.POPUNDER)" class="btn btn-xs btn-info col-sm-1 col-sm-offset-1" href="">Popunder</button>
    <button ng-click="newCZDetailsSwitchCtrl(CreativeZone.types.IFRAME)" class="btn btn-xs btn-info col-sm-1 col-sm-offset-2" href="">IFrame</button>
    <button ng-click="newCZDetailsSwitchCtrl(CreativeZone.types.NAVILINK)" class="btn btn-xs btn-info col-sm-1 col-sm-offset-2" href="">Navi Link</button>
    <button ng-click="newCZDetailsSwitchCtrl(CreativeZone.types.IMAD)" class="btn btn-xs btn-info col-sm-1 col-sm-offset-2" href="">IM Ad</button>
  </div>
  <div collapse="newCZDetailsSwitch" class="info-btn-margin row" novalidate>
    <hr/>
    <div class="col-sm-6">
      <h5>{{CreativeZone.getStringForType(newCreativeZone.typeId)}} Details</h5>
      <san-field-group>
        <san-field label="Creative Zone Name" model="newCreativeZone.name" type="text" edit-var="'true'" required="true"></san-field>
        <san-field label="Publisher" edit-var="'true'">
          <select ng-model="newCreativeZone.publisher" ng-options="publisher as publisher.name for publisher in Publisher.publishers | orderBy: 'name'" class="form-control" required>
            <option value="">-- Select A Publisher --</option>
          </select>
        </san-field>
        <san-field ng-show="newCreativeZone.typeId==CreativeZone.types.IFRAME" label="Location" edit-var="'true'">
          <select ng-model="newCreativeZone.location" ng-options="location as location.location for location in Locations | orderBy: 'location'" class="form-control" required>
            <option value="">-- Select A Location --</option>
          </select>
        </san-field>
        <san-field label="Default Rotation" edit-var="'true'">
        <select ng-model="newCreativeZone.defaultRotationId" ng-options="rotation.id as rotation.name for rotation in Rotation.rotations | orderBy: 'name'" class="form-control" required>
          <option value="">-- Select A Default Rotation --</option>
        </select>
        </san-field>
        <san-field ng-show="newCreativeZone.typeId == CreativeZone.types.IFRAME" label="Width" model="newCreativeZone.width" edit-var="'true'" type="number" required="true"></san-field>
        <san-field ng-show="newCreativeZone.typeId == CreativeZone.types.IFRAME" label="Height" model="newCreativeZone.height" edit-var="'true'" type="number" required="true"></san-field>
        <san-field label="Enabled" model="newCreativeZone.enabled" type="checkbox" edit-var="'true'"></san-field>
        <san-field label="SFW" model="newCreativeZone.sfw" type="checkbox" edit-var="'true'"></san-field>
      </san-field-group> 
    </div>
    <hr class="col-sm-12 noPadding"/>
    <!--Template Variables-->

    <div class="row">
      <div class="col-sm-12">
        <h3 class="col-sm-4 noPadding noMargin">Add Template Variables</h3>
        <a ng-click="newTempVarSwitchCtrl()" class="col-sm-2 btn btn-xs btn-primary pull-right">Add Template Variable</a>
      </div>
      <san-confirm
        class="col-sm-12"
        active="tempVarConfirmDelete"
        cancel="!tempVarConfirmDelete"
        confirm="deletePubTempVar(deletingTempVar.id)"
        confirm-text="Delete Template Variable {{deletingTempVar.name}}">
          <p>Are you sure you wish to delete template variable &quot;{{deletingTempVar.name}}&quot; from this creative zone?</p>
      </san-confirm>
      <div class="col-sm-12 table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Type</th>
              <th>Argument Key</th>
              <th>Value</th>
              <th>Creative Zones</th>
              <th>Publishers</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="newTempVarSwitch" ng-form="newTempVarForm" novalidate>
              <td>New</td>
              <td><select ng-options="varType.id as varType.name for varType in filteredTypes" ng-model="newTempVar.typeId" class="form-control"></select></td>
              <td>{{newTempVar.argumentKey}}</td>
              <td><input ng-model="newTempVar.value" type="text" class="form-control" required></td>
              <td></td>
              <td></td>
              <td>
                <button ng-click="saveCZTempVar(newTempVar)" ng-disabled="newTempVarForm.$invalid" class="btn btn-primary btn-xs">Create New</button>
                <button ng-click="newTempVarSwitchCtrl()" class="btn btn-default btn-xs">Cancel</button>
              </td>
            </tr>
            <tr ng-repeat="tempVar in czTempVars">
              <td>{{tempVar.id}}</td>
              <td>
                <div>{{tempVar.typeName}}</div>
              </td>
              <td>
                <div>{{tempVar.argumentKey}}</div>
              </td>
              <td ng-show="tempVarEdit!==tempVar.id">
                <div >{{tempVar.value}}</div>
              </td>
              <td ng-show="tempVarEdit==tempVar.id">
                <input  ng-model="editTempVar.value" type="text" class="form-control"/>
              </td>
              <td>
                <div>{{tempVar.creativeZonesList}}</div>
              </td>
              <td>
                <div>{{tempVar.publishersList}}</div>
              </td>
              <td class="text-right">
                <san-crud-buttons
                  edit="tempVarEditSwitch($index)"
                  delete="tempVarConfirmDeleteSwitch(tempVar)"
                  save="saveCZTempVar(tempVar)"
                  cancel="cancelTempVarEdit()">
                </san-crud-buttons>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> 
  <hr/>
  <button ng-hide="newCZDetailsSwitch" class="btn btn-primary btn-xs" ng-click="save(newCreativeZone)">Save</button>
  <button ng-hide="newCZDetailsSwitch" class="btn btn-default btn-xs" ng-click="clear()">Clear</button>
</div>